*{
    padding: 0;
    margin: 0;
}


header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.822);
    transition: 1s;
    font-family: 'Raleway', sans-serif;
    

}

a{
    text-decoration: none;
}

.tags {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.tags a {
    padding: 10px;
    line-height: 10px;
    font-size: 13px;
    text-decoration: none;
    color: rgb(253, 253, 253);
}

.tags a:hover{
    padding: 10px;
    transition: 0.4s;
    background-color: rgba(207, 207, 207, 0.164);
    color: rgb(199, 199, 199);
    border-radius: 2px;

}

.icone {
    font-size: 17px;
    display: flex;
    justify-content: left;
    align-items: left   ;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links img {
    width: 30px;
}

@media screen and (max-width: 600px) {

    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tags {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}