* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); /*nova*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}


.principal {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.principal h1 {
    padding: 10px;
}

.container {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoMinha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 100px;
    height: 190px;
}


.eu {
    width: 400px;
    height: 400px;
    border-radius: 360px;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 15px;
    width: 500px;
    padding: 10px;
}

.info h1 {
    font-size: 30px;
}

.info p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4px;
    font-size: 14px;
}

.bola {
    display: flex;
    padding: 10px;
}

.bola1 {
    width: 45px;
    height: 45px;
    margin: 10px;
    background: url("../fotos/instagram.png");
    background-size: cover;
    border-radius: 50px;
}

.bola2 {
    width: 45px;
    height: 45px;
    margin: 10px;
    background: url("../fotos/facebook.png");
    background-size: cover;
    border-radius: 50px;
}

.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.projetos h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.conteiner_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    transition: 0.4s;
    
}

.conteiner_box :hover {
    padding: 5px;
    transition: 0.4s;

}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 160px;
    border-radius: 5px;
    margin: 10px;
    background-image: url("../fotos/git.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 3px black;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 160px;
    border-radius: 5px;
    margin: 10px;
    background-image: url("../fotos/html.png");
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 3px black;

}

.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 160px;
    border-radius: 5px;
    margin: 10px;
    background-image: url("../fotos/css.jpg");
    background-position: center;
    box-shadow: 0px 0px 3px black;
    background-size: cover;


}

.box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 160px;
    border-radius: 5px;
    margin: 10px;
    background-image: url("../fotos/javaS.png");
    background-position: center;
    box-shadow: 0px 0px 3px black;
    background-size: cover;

}

.box5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 160px;
    border-radius: 5px;
    margin: 10px;
    background-image: url("../fotos/vue.jpg");
    background-position: center;
    box-shadow: 0px 0px 3px black;
    background-size: cover;

}

.box6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 160px;
    border-radius: 5px;
    margin: 10px;
    background-image: url("../fotos/react.jpg");
    background-position: center;
    box-shadow: 0px 0px 3px black;
    background-size: cover;

}

.box7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 160px;
    border-radius: 5px;
    margin: 10px;
    background-image: url("../fotos/java.jpg");
    background-position: center;
    box-shadow: 0px 0px 3px black;
    background-size: cover;

}

.tabelas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 30px;
}

@media screen and (max-width: 1024px) {
    .conteiner_box{
        flex-direction: column;
    }

    .info {
        width: 600px;
    }
}



@media screen and (max-width: 600px) {

    .conteiner_box{
        flex-direction: column;
    }

    .info {
        width: 400px;
    }
}

@media screen and (max-width: 400px) {

    .conteiner_box{
        flex-direction: column;
    }

    .info {
        width: auto;
    }
}
