* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Tiny', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');/*nova*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Tiny', sans-serif;
}


.principal {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background: url("../fotos/codigos.jpg");

}

.principal h1 {
    padding: 10px;
}

.container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fotoMinha {
    width: 380px;
    height: 380px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
    background: url('../fotos/eu.jpg');
    background-size: cover;
    transition: 2s;
}
/* MUDAR FOTO AU PASSAR POR CIMA 
.fotoMinha:hover {
    background: url('../fotos/jauneeu.jpg.jpeg');
    background-size: cover;
    align-items: center;
    

}
*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: auto;

}

.primeiro {
    display: flex;
    width: 450px;
    height: 200px;
    margin: 15px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #243758;
    box-sizing: 3px ;

}

.primeiro h2 {
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    margin: 3px;
    color: white;

}

.primeiro p {
    font-size: 14px;
    margin: 10px;
    color: rgb(255, 255, 255);
}

.segundo {
    display: flex;
    justify-content: center;
    width: 450px;
    height: 200px;
    margin: 15px;
    background-size: cover;

}

.terceiro {
    display: flex;
    justify-content: center;
    width: 450px;
    height: 200px;
    margin: 15px;
    background-size: cover;
}

.quarto{
    display: flex;
    width: 450px;
    height: 200px;
    margin: 15px;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1F4021;
    box-sizing: 3px ;
}

.quarto p {
    font-size: 14px;
    margin: 10px;
    color: rgb(255, 255, 255);
}

.quarto h2{
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    margin: 3px;
    color: white;
}

.contato {
    width: 1000px;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.contato h2 {
    color: rgba(0, 0, 0, 0.795);
}

.container_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 300px
}

.contatar {
    width: 500px;
    height: 200px;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: rgb(55, 97, 136);
}

.contatar p {
    font-weight: 500;
    margin: 10px;
    color: rgba(255, 255, 255, 0.822);
}

.contatar h3 {
    margin: 10px;
    color: white;
}

iframe {
    width: 500px;
    height: 200px;
}




@media screen and (max-width: 700px) {

    .conteiner_box {
        flex-direction: column;
    }

    .info {
        width: 400px;
    }

    .contato {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contatar {
        width: 300px;
    }

    .div_iframe {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media screen and (max-width: 400px) {

    .conteiner_box {
        flex-direction: column;
    }

    .info {
        width: 380px;
    }

    .eu {
        width: 150px;
        height: 150px;
    }

    .contato {
        display: flex;
        flex-direction: column;
    }

    .container_contato {
        display: flex;
        flex-direction: column;
    }
}